@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}

.container_menu {
  display: flex;
  margin-top: 0px;
  align-items: center;
  font-size: 25px;
}

.txtbloco{
  font-size: 20px;
}