@import url('https://fonts.googleapis.com/css2?family=Noto+sans:wght@400;700&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Ajuste conforme necessário */
    border-bottom: 2px solid #000000;
}

.welcome-text {
    flex: 1;
    text-align: left;
}


.headerimg {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Alinha a logo à esquerda do centro */
    margin-right: 0%; /* Ajusta a posição da logo para a esquerda */
}

.headerimg img {
    max-width: 100%;
    height: auto;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    flex-direction: column;
    color: #333
}


body * {
    min-height: auto;
    box-sizing: border-box;
}


#content-wrap {
    padding-bottom: 2.5rem;
}

.main-login {

    width: 100vw;
    height: 100vh;
    background: #a2c8e7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 32px;
    color: #f2f6ff;
    text-align: center;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #95b9fd;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #6c9be0f5;
}

.card-login {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
    text-align: center;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #98b6ed;
    color: #ffffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #2066cff5;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: white;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: white;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 3px;
    margin-top: 23px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #516ead;
    box-shadow: 0px 10px 40px -12px #5096fff5;

}

.btn-cadastrar {
    width: 100%;
    padding: 16px 0px;
    margin: 3px;
    margin-bottom: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #516ead;
    box-shadow: 0px 10px 40px -12px #5096fff5;
}

.btn-cadastrar2 {
    width: 100%;
    padding: 16px 0px;
    margin: 3px;
    margin-bottom: 0px;
    margin-top: 23px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #516ead;
    box-shadow: 0px 10px 40px -12px #5096fff5;
}

.btn2 {
    width: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.erro {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    display: none;
}



@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 35vw;
    }

    .card-login {
        width: 90%;
    }
}

.img_login {
    width: 580px;
    height: auto;
}

.img_cadastro {
    width: 580px;
    height: auto;
}

.logoM{
    width: 90px;
    height: 90px;
    margin-top: auto;
    margin-left: 200px;
}


.logof{
    width: 200px;
    height: 140px;
}

.submenu{
    display: flex;
    align-items: center;
    margin-left: 500px;
   
}
   
.nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 0.5rem;
    display: block;
    padding: 8px 20px;
    transition: all 0.3s ease;
    font-size: 20px;
}

nav ul li:hover .sub_menu {
    display: block;
}

.sub_menu {
    position: absolute;
    background-color: #81b9ee;
    display: none;
    padding: 10px;
    border: 2px solid #406269;
    top: calc(100% + 5px);
    left: 0;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sub_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.sub_menu ul li {
    display: block;
    margin-bottom: 5px;
}

.sub_menu ul li a {
    display: block;
    padding: 8px 20px;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease;
}

.sub_menu ul li a:hover {
    background-color: rgb(36, 106, 128);
    color: #000000;
    border-radius: 5px;
}

footer {
    background-color: #516ead;
    height: 300px;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dee2e6;
}

.footer-links {
    display: flex;
    list-style: none;
}

.footer-links li {
    margin-left: 1rem;
}

.footer-links a {
    text-decoration: none; 
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.w-100 {
    width: 100%;
}

.footer-bottom {
    background-color:  #5096fff5;
    padding: 1.7rem 0;
    color: rgb(1, 18, 255);
}

.footer-divider {
    border: 1000px;
    border-top: 10px solid rgb(0, 0, 0);
    margin-top: 25px;
}

.logos{
    width: 16px; 
    height: 16px;
    fill: black;
}


.h1e{
    color: rgba(255, 255, 255, 0.91);
    font-size: 14px;
}
.logo {
    width: 8%;
}

.imagem1 {
    width: 100%;
    height: 400px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    text-align: center;
    margin-top: 20px;
}


.imagens-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagens-container img {
    width: 30%;
}

.titulo {
    font-size: 30px;
    color: #000000;
}

.scale {
    transition: transform 0.3s ease;
}

.scale:hover {
    transform: scale(1.2);
}

.rotate {
    transition: transform 0.3s ease;
}

.rotate:hover {
    transform: rotate(10deg);
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
}

.meuBotao {
    transition: transform 0.2s; /* Adiciona uma transição suave para a mudança de transformação */
    padding: 10px 20px; /* Apenas para dar algum espaço ao redor do botão */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada */
}

.meuBotao:hover {
    transform: translateY(-5px); 
    cursor: pointer;
}

